.main {
    height: 100vh;
    width: 100vw;
}

.bg-blue-100 {
    background-color: #E7F1FF; /* Replace with your desired blue shade */
}
.bg-blue-200 {
    background-color: #90cdf4; /* Replace with your desired blue shade */
}

.gantt {
    height: auto;
    overflow-y: auto;
}
.gantt-wrap {
    width: 65vw; 
}

.gantt-container {
    width: 65vw; 
    margin: 0;
}

.gantt .bar-wrapper .bar-progress{
    fill: #007bff;
}